    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p class="text-purple-500">Welcome to <%= title %></p>
    <div class="p-2 border border-purple-500 bg-violet-300">
      <h1 class="text-purple-500 capitalize font-bold text-4xl">bienvenue sur la page d'accueil</h1>
      <p>Ceci est le contenu principal de la page d'accueil.</p>
  </div>  
