<div class="">
    <p class="text-amber-500">Welcome to <%= title %></p>
    <div class="p-2 border border-purple-500 bg-violet-300">
      <h1 class="text-purple-500 capitalize font-bold text-4xl">bienvenue sur la page de <%= title %></h1>
    </div>  
  </div>  
  